<ul class="rms-tourEventList">
  {% assign lastyear = "0000" %}

  {% for concert in site.data.concerts %}

  {% capture year %}{{ concert.day | slice: 0, 4 }}{% endcapture %}
  {% if year != lastyear %}
  <li class="rms-tourEventList__year">
    {{ year }}
    {% assign lastyear = year %}
  </li>
  {% endif %}

  <li class="rms-tourEvent rms-tourEventList__item">
    <div class="rms-tourEvent__field rms-tourEvent__day">
      <div class="u-nowrap" data-date="{{ concert.day}}">{{ concert.day | date: "%d %b '%y" }}</div>
    </div>
    <div class="rms-tourEvent__field rms-tourEvent__title">
      <div>{{ concert.title }}</div>
    </div>
    <div class="rms-tourEvent__field rms-tourEvent__location">
      <div>
        <strong>{{ concert.time }}</strong><br />
        {{ concert.place }}
      </div>
    </div>
    <div class="rms-tourEvent__field rms-tourEvent__details">
      <div>
        {{ concert.details }}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
