{% if site.ga and site.ga.cookieconsent %}
<!-- Cookie Consent popup to comply with EU cookie law -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"
    integrity="sha256-ebN46PPB/s45oUcqLn2SCrgOtYgVJaFiLZ26qVSqI8M=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js" integrity="sha256-y0EpKQP2vZljM73+b7xY4dvbYQkHRQXuPqRjc7sjvnA="
    crossorigin="anonymous"></script>
<script>
    window.addEventListener("load", function () {
        window.cookieconsent.initialise({
            "cookie": { "expiryDays": 730 },
            "palette": {
                "popup": { "background": "#383b75" },
                "button": { "background": "#f1d600" }
            },
            "theme": "classic"
        });
    });
</script>
{% endif %}