.rms-langSelector {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  &__link {
    padding: 0 .3rem;
    color: white;

    &:hover {
      color: white;
    }

    &--current {
      font-weight: 600;
    }
  }
}
