@import "../variables/index";

.rms-tourEventList {
	background: rgba($primary-bg, .79);
	list-style: none;
  padding: 1.875rem;

  &__year {
    font-size: 1.6rem;
    border-bottom: 1px solid #c3c3c3;
    padding: .75rem 0;
    margin: 1.3rem 0 .7rem;
  }

  .rms-tourEvent {
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

}

.rms-tourEvent {
	font-size: 1.125rem;
  padding: .75rem 0;
  border-bottom: 1px solid rgba(white, .2);
  display: flex;
  flex-direction: column;

  &:hover {
    background: rgba(white, .2);
    transition: .2s ease-in-out all;
  }

  @media screen and (min-width: 768px) {
    align-items: center;
  }

  &__field {
    flex: 3 0 0%;
    padding: .5rem;

    @media screen and (min-width: 768px) {
      padding: 1rem;
    }
  }

  &__day {
    font-weight: 600;
    text-transform: uppercase;
    flex: 1 0 0%;
    min-width: 7rem;
  }

  &__title {
    font-style: italic;
  }

  &__details {
    flex: 2 0 0%;
  }

  &--past {
    opacity: .9;
  }
}
