<!DOCTYPE html>
<html lang="{{page.lang}}">

<head>
  {% include head.html %}
</head>

<body class="fullscreen-background">
  {% include lang-selector.html %}

  <div class="rms-page__container pb-4">

    {% include main-menu.html %}

    <div class="row justify-content-center rms-mainLinks pt-1 pt-sm-2">
      {% for link in site.links %}
      {% if link.show %}
      <div class="col-xs-12 col-sm-2 col-lg-1 px-3 px-sm-0 mt-2 mt-sm-3 text-sm-center">
        <a href="{{ link.href }}" title="{{ 'Go to ' | append: link.name }}" {% if site.ga %}
          onclick="trackOutboundLink('{{ link.name }}', '{{ link.href }}'); return false;" {% endif %}>
          <i class="{{ link.icon }} fa-fw"></i>
          <span class="d-inline d-sm-none">
            {{ link.name }}
          </span>
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="row justify-content-center mt-5 carousel-container">
      {% include widgets/carousel.html %}
    </div>

    <div class="row justify-content-center mt-5">
      {% include widgets/youtube.html %}
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-md-12 col-xl-4">
        {% include widgets/spotify.html %}
      </div>
      <div class="col-md-6 col-xl-4 mt-3 mt-md-0">
        {% include widgets/twitter.html %}
      </div>
      <div class="col-md-6 col-xl-4 mt-3 mt-md-0">
        {% include widgets/facebook.html %}
      </div>
    </div>

    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/common.js"></script>
</body>

</html>
