<!DOCTYPE html>
<html lang="{{page.lang}}">

<head>
  {% include partials/head.html %}
</head>

<body class="rms-page rms-home rms-page--backcover">
  {% include lang-selector.html %}

  <div class="rms-page__container pb-4">

    {% include main-menu.html %}

    {% include featured-links.html %}

    <div class="row justify-content-center mt-5 carousel-container">
      {% include widgets/carousel.html %}
    </div>

    <div class="row justify-content-center mt-5">
      {% include widgets/youtube.html %}
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-md-12 col-xl-4">
        {% include widgets/spotify.html %}
      </div>
      <div class="col-md-6 col-xl-4 mt-3 mt-md-0">
        {% include widgets/twitter.html %}
      </div>
      <div class="col-md-6 col-xl-4 mt-3 mt-md-0">
        {% include widgets/facebook.html %}
      </div>
    </div>

    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/common.js"></script>
</body>

</html>
