html, body {
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

.fullscreen-background {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.glass-pane {
  background-color: rgba(black, 0.5);
  width: 100%;
  min-height: 42vh;  /* always cover at least the sky */
}

.rms-title {
  font-size: 3em;
}

.rms-subtitle {
  font-size: 1.2em;
}
